<div class="landing-main">
  <div class="welcome-text">
    <h1>Welcome to book club</h1>
    <p>For the love of books...</p>
  </div>
  <div class="landing-background"></div>

  <%= render 'landing/signin_modal' %>
  <%= render 'landing/signup_modal' %>
</div>
