<div class="landing-main">
  <div class="welcome-text">
    <h1>Welcome to book club</h1>
    <p>These users love books...</p>
    <% @users.each do |user|%>
      <p><%= user.username %></p>
    <% end %>
  </div>
  <div class="landing-background"></div>

  <%= render 'landing/signin_modal' %>
  <%= render 'landing/signup_modal' %>
</div>
