<!-- Uses a transparent header that draws on top of the layout's background -->
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent header-main">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title brand-logo"></span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link signin-link">Sign in</a>
        <a class="mdl-navigation__link signup-link">Sign up</a>
        <a class="mdl-navigation__link" href="/faqs">FAQs</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Book Club</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link signin-link">Sign in</a>
      <a class="mdl-navigation__link signup-link">Sign up</a>
      <a class="mdl-navigation__link" href="/faqs">FAQs</a>
    </nav>
  </div>
  <!-- <main class="mdl-layout__content">
  </main> -->
</div>